<h1>Editing legal_document</h1>

<%= render 'form' %>

<%= link_to 'Show', [@legal_document.resource, @legal_document] %> |
<%= link_to 'Back', vehicle_legal_documents_path(@legal_document.resource) %>
