<h4 class="card-title"><%=I18n.t('devise.text.hello')%></h4>
<p>Un usuario a hecho una reserva</p>
<p>
  Debes validar el pago aqui! <%= link_to 'Aqui!', 
                                  edit_reservation_payment_url(reservation_id: @reservation_id,
                                                                id: @payment_id)%>
</p>
