<body>
  <div>
    <div>
      <p><strong>EasyCar</strong></p>
      <div></div>
      <p>
        Debes validar el pago aqui! <%= link_to 'Aqui!', 
                                        edit_reservation_payment_url(reservation_id: @reservation_id,
                                                                      id: @payment_id)%>
      </p>
      <div></div>
    </div>
  </div>
</body>