<h4 class="card-title">
  <%="#{I18n.t('devise.text.hello')} #{@vehicle_owner.first_name}"%>
</h4>
<p>Se ha rechazado el pago de una reserva de tu vehiculo: <%= @reservation.vehicle.brand_model_and_year %></p>