<h4 class="card-title">Hola <%= @owner.first_name%>!</h4>
<p>Te informamos que tu vehículo <%= @vehicle.brand_and_model%> a sido reservado desde el día <%= @reservation.start_date.strftime('%d-%m-%Y')%>, hasta el día <%= @reservation.end_date.strftime('%d-%m-%Y')%>.</p>
<p>Si despues de 2 horas no se realiza el pago, se cancelara la reserva del vehículo.</p>
<p>Para mas información revisa tu cuenta en <a href="http://easy-car.herokuapp.com">Easycar.</a></p>  

