<p font-size="22px"  font-family="arial">Hola <%= @driver.first_name%>!</p>
<p font-size="18px"  font-family="arial">Has solicitado la reserva del vehículo <%= @vehicle.brand_and_model%>, para el día <%= @reservation.start_date.strftime('%d-%m-%Y')%>, hasta el día <%= @reservation.end_date.strftime('%d-%m-%Y')%>.</p>
<p font-size="18px"  font-family="arial">Si despues de 5 minutos no se realiza el pago, se cancelara la reserva del vehículo.</p>
<p font-size="18px"  font-family="arial">Para mas información revisa tu cuenta en <a href="http://easy-car.herokuapp.com">Easycar.</a></p>

