<div class="card" style="width: 18rem;">
  <img src="https://i.blogs.es/2b411c/ferrari-f8-spider_/450_1000.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ferrari amarillo</h5>
    <p class="card-text">Un toro loco, llega a 100km/h en 3.2 segundos!!</p>
    <a href="#" class="btn btn-outline-primary">Arrendar</a>
  </div>
</div>