<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Datos del propietario:</h4>
  <li>Nombre: <%= @vehicle_owner.full_name %></li>
  <li>Celular: +569<%=@vehicle_owner.phone_number %></li>
  <li>Direccion: <%= @vehicle_owner.address.full_name %></li>
  <hr>
  <p class="mb-0">Contáctate para coordinar el retiro del vehículo.</p>
</div>
