$primary: rgb(0, 102, 153);
$danger: rgb(179, 0, 0);
@import '~bootstrap/scss/bootstrap';
@import 'direct_uploads';

body {
  padding-top: 70px;
  padding-right: 5px;
  padding-left: 5px;
}
 nav {
  background-color: rgb(0, 102, 153);
 }

.images-show {
  padding-left: 15px;
}

.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1s ease;
}

.inner:hover img{
  transform: scale(1.2);
}
.card-link-hover {
  text-decoration:none !important;
  color:inherit;
 }
