@import '~bootstrap/scss/bootstrap';
@import 'direct_uploads';

body {
  padding-top: 70px;
  padding-right: 5px;
  padding-left: 5px;
}

input[type=submit] {
  background-color: rgb(57, 82, 100);
}

input[type=file] {
  background-color: rgb(57, 82, 100);
}
