<div class="row images-show" id="vehicle_images_container">
  <% vehicle.images.each do |image| %>
    <div class="card col-xl-5 col-lg-6 col-md-3" style="width: 18rem;margin-right: 15px;">
      <%= image_tag image, size: size, class:"card-img-top" %>
      <%= link_to 'Eliminar', destroy_images_path(image), method: :delete, remote: true, class: 'destroy-vehicle-image' %>
    </div>
  <% end %>
</div>
