<div class="btn-group mb-3 mr-3">
  <%= link_to 'Publicar!!',
      vehicle_path(vehicle: { status: :published }),
      data: { confirm: 'Seguro?' }, method: :put,
      class:"btn btn-outline-success mr-3" %>
</div>