
  <% images.each do |image| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag image.image, class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Ferrari amarillo</h5>
        <p class="card-text">Un toro loco, llega a 100km/h en 3.2 segundos!!</p>
        <a href="#" class="btn btn-primary">Arrendar</a>
      </div>
    </div>
  <% end %>