<div class="btn-group" style="padding-right:3px;">
  <%= link_to 'Publicar!!',  vehicle_path(vehicle: { status: :published }), data: { confirm: 'Seguro?' }, method: :put, class:"btn btn-outline-success" %>
</div>