<div class="container col-xl-6 col-lg-10 col-md-6 col-sm-10">
  <div class="card">
    <div class="card-header">
      <h2><%=I18n.t('vehicle.headers.edit')%></h2>
    </div>
    <div class="card-body">
      <%= render 'vehicles/partials/form', vehicle: @vehicle %>
      <div class="text-right">
        <%= link_to 'Show', @vehicle %><br>
        <%= link_to 'Back', vehicles_path %>
      </div>
    </div>
  </div>
</div>
