<div class="container col-md-10 offset-md-2">
  <div class="card w-75">
    <div class="card">
      <div class="card-header">
        <h2><%=I18n.t('vehicle.headers.new')%></h2>
      </div>
      <div class="card-body"> 
        <%= render 'form', vehicle: @vehicle %>
      </div>
    </div>  
  </div>  
</div>