<div class="container col-xl-5 col-lg-10 col-md-6 col-sm-10">
  <div class="card">
    <div class="card-header">
      <h2><%=I18n.t('vehicle.headers.new')%></h2>
    </div>
    <div class="card-body"> 
      <%= render 'form', vehicle: @vehicle %>
    </div>
  </div>
</div>