<% if notice %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>  
<p>
  <strong>Name:</strong>
  <%= @brand.name.capitalize %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
