<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to "Marcas", brands_path, class:"dropdown-item" %>
    <%= link_to "Modelos", vehicle_models_path, class:"dropdown-item" %>
    <%= link_to "Usuarios", users_path, class:"dropdown-item" %>
    <%= link_to "Validación documentos", validate_legal_documents_path, class:"dropdown-item" %>
  </div>
</li>