<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      /* Email styles need to be inline */
      .center {
        margin: auto;
        width: 50%;
        border: none;
        padding: 10px;
      }
      .bottom-divider{
        border-bottom: 5px solid #006699;
      }
      .title-color{
        color: #006699;
      }
      .left{
        padding-left: none;
      }
      .top{
        padding-top: 20px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="card col-6 center">
        <div class="card-header bottom-divider left">
          <h2 class="title-color left">EasyCar</h2>
        </div>
        <div class="card-body bottom-divider left top">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
